# General
node_modules/
.DS_Store
dist/
build/

# Testing & Coverage
coverage/
*.lcov
.nyc_output/
reports/
junit.xml

# Logs & PIDs
*.log
*.pid
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temporary files
tmp/
temp/
.env
.env.*

# NestJS
apps/api/dist/
apps/api/*.tsbuildinfo

# Expo / React Native
apps/mobile/.expo/
apps/mobile/web-build/
apps/mobile/android/
apps/mobile/ios/
!apps/mobile/android/build.gradle
!apps/mobile/android/gradle.properties
!apps/mobile/android/settings.gradle
!apps/mobile/ios/Podfile
!apps/mobile/ios/Habixa.xcodeproj/

# IDEs
.vscode/
.idea/

# Prisma
apps/api/prisma/migrations/
!apps/api/prisma/migrations/.keep
